/* Global CSS */

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/* Header CSS */

.container .navbar h1 .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: green;
}

.container .navbar .navbar-collapse {
  justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

.container .navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
}

.container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 8px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: black;
}

.container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::before {
  content: " ";
  position: absolute;
  width: 0%;
  height: 1px;
  background: green;
  left: 0;
  bottom: 0;
}

.container
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link:hover::before {
  width: 100%;
  transition: all 0.5s ease;
}

.container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: green;
}

button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

.dropdown {
  margin-top: 9px;
  margin-left: 12px;
  margin-right: 12px;
}

.dropdown .dropbtn {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 8px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: black;
}

.dropdown .dropbtn::before {
  content: " ";
  position: absolute;
  width: 0%;
  height: 1px;
  background: green;
  left: 0;
  bottom: 0;
}

.dropdown .dropbtn:hover::before {
  width: 100%;
  transition: all 0.5s ease;
}

.dropdown .dropbtn:hover {
  color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  z-index: 1;
  top: 100%;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}

/* Night Mode CSS */

i {
  font-size: 24px;
}

.fa-moon {
  display: block;
  color: black;
  transition: all 0.5s ease;
}

.fa-moon:hover {
  color: green;
}

.fa-sun {
  display: none;
  color: lightgrey;
}

.dark#body {
  background-color: black;
}

.dark .btn--text a {
  color: white;
}

.dark .btn--text a:hover {
  color: green;
}

.dark header {
  background-color: black;
}

.dark #switchButton .fa-sun {
  display: block;
  color: lightgray;
  transition: all 0.5s ease;
}

.dark #switchButton .fa-sun:hover {
  color: green;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
}

.dark .nav-link.active {
  color: green;
}

.dark .nav-link:hover {
  color: green;
}

.dark .dropdown-content {
  color: white;
}

.dark .dropdown .dropbtn {
  color: white;
}

.dark .dropdown-content a:hover {
  color: green;
  background-color: transparent;
}

.dark .blog {
  background-color: black;
}

.dark .blog .blog-header {
  color: white;
}

.dark .blog .container .row .card .card-body {
  background-color: darkgray;
}

.dark .blog .container .row .card .card-body .card-name {
  color: white;
}

.dark .contact {
  background-color: black;
}

.dark .contact .container .contact-header h1 {
  color: white;
}

.dark .contact .container .row .contact-right .address .address-content h3 {
  color: white;
}

.dark .contact .container .row .form-group input {
  background-color: darkgray;
}

.dark .contact .container .row .form-group input::placeholder {
  color: white;
}

.dark .contact .container .row .form-group textarea {
  color: white;
  background-color: darkgray;
}

.dark .contact .container .row .form-group textarea::placeholder {
  color: white;
}

/* Banner CSS */

.banner {
  margin-top: 90px;
  background-image: url("../img/banner4.jpg ");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;
  position: relative;
  margin-bottom: 0;
}

.banner::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.501);
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.banner .container {
  position: relative;
  z-index: 2;
  padding-top: 40px;
}

.banner .container h1 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.banner .container ul {
  display: flex;
  justify-content: center;
}

.banner .container ul li {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.banner .container ul li a {
  color: green;
}

.banner .container ul li i {
  font-size: 15px;
  margin-right: 5px;
}

/* Blog Posts CSS */

.blog {
  background-color: whitesmoke;
}

.blog .container .blog-header {
  text-align: center;
  padding: 50px 0;
}

.blog .container .blog-header p {
  color: red;
}

.h1,
h1 {
  font-size: 2.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.blog .container .row .card .card-body .card-name {
  display: block;
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  color: black;
  margin-bottom: 8px;
}

.blog .container .row .card .card-body .card-title {
  color: gray;
}

.blog .container .row .card .card-body .card-date span {
  color: gray;
}

.blog .container .row .card .card-body .card-cmt {
  display: flex;
  color: gray;
  align-content: center;
}

.blog .container .row .card .card-body .card-cmt .card-cmt-left {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.blog .container .row .card .card-body .card-cmt .card-cmt-left i {
  margin-right: 10px;
}

.blog .container .row .card .card-body .card-cmt .card-cmt-left p {
  margin-top: 15px;
}

.blog .container .row .card .card-body .card-cmt .card-cmt-right {
  display: flex;
  align-items: center;
}

.blog .container .row .card .card-body .card-cmt .card-cmt-right i {
  margin-right: 10px;
}

.blog .container .row .card .card-body .card-cmt .card-cmt-right p {
  margin-top: 15px;
}

/* Contact Page CSS */

.contact {
  padding: 50px 0;
}

.contact .container .contact-header h1 {
  color: black;
}

.contact .container .row .form-group {
  display: flex;
  margin-right: 10px;
}

.contact .container .row .form-group input {
  padding: 10px 0;
  width: 100%;
  border: 1px solid white;
  color: black;
  background-color: lightgrey;
  padding: 15px 20px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
}

.contact .container .row .form-group textarea {
  padding: 30px 20px;
  width: 100%;
  border: 1px solid white;
  background-color: lightgrey;
  color: black;
  overflow: hidden;
  outline: none;
  border-radius: 5px;
}

.contact .container .row button {
  padding: 15px 30px;
  background-color: green;
  color: white;
  border-radius: 10px;
  float: right;
  margin-top: 20px;
}

.contact .container .row .contact-right .address {
  display: flex;
  margin-bottom: 30px;
}

.contact .container .row .contact-right .address .address-icon {
  margin-right: 20px;
}

.contact .container .row .contact-right .address .address-icon i {
  color: green;
}

.contact .container .row .contact-right .address .address-content h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 10px;
}

.contact .container .row .contact-right .address .address-content p {
  line-height: 24px;
  color: gray;
  margin: 0;
}

.contact .container .row .contact-right .address .address-content p a {
  color: gray;
}

/* Footer CSS */

.footer-background-color {
  padding-top: 50px;
  background-color: black;
}

.footer-background-color .container .row .footer-title {
  color: white;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-background-color .container .row ul li {
  color: gray;
  margin-bottom: 10px;
}

.footer-background-color .container .row ul li a {
  color: gray;
}

.footer-background-color .container .row .main-social-footer .social-icons {
  display: flex;
}

.footer-background-color .container .row .main-social-footer .social-icons li {
  margin-right: 20px;
}

.footer-background-color
  .container
  .row
  .main-social-footer
  .social-icons
  li
  a {
  color: gray;
}

.footer-background-color .midd-footer .copy-footer {
  padding: 40px;
  color: gray;
}

.footer-background-color .midd-footer .copy-footer a {
  color: red;
}
